@import "tailwindcss";

:root {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  scrollbar-width: none;
}

/* IE and Edge 스크롤바 숨기기 */
* {
  -ms-overflow-style: none;
}

/* Chrome, Safari, Opera 등 Webkit 기반 브라우저 스크롤바 숨기기 */
*::-webkit-scrollbar {
  display: none;
}
